* {
    box-sizing: border-box;
}

body {
    padding-left: 25px;
    background-color: aquamarine;
    /* font-family: 'Nunito', sans-serif; */
}

//border-radius: 50%

/* .username { */
    /* color: white; */
/* } */

/* .name { */
    /* display: flex; */
    /* width: 100%; */
/* } */